<script src="main.js"></script>
<template>
  <div id="app" class="container">
  <h1>Vue and Firebase</h1>
  <div class="card">
    <div class="card-header">
        <h3>Add a link</h3>
    </div>
    <div class="card-body">
      <form class="" action="" v-on:submit.prevent="addLink" class="form-inline">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
               class="form-control"
                placeholder="title"
                v-model=newLink.title >
          </div>
           <div class="form-group">
            <label for="author">Author</label>
            <input type="text"
               class="form-control"
                placeholder="author"
                v-model=newLink.author >
          </div>
           <div class="form-group">
            <label for="url">URL</label>
            <input type="text"
               class="form-control"
                placeholder="url"
                v-model=newLink.url >
          </div>
          <input type="submit" class="btn btn-success" value="Add a link">
      </form>

    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">
      <h3 >Link List</h3>
    </div>
    <div class="card-body">
      <table  class="table table-striped">
        <thead>
          <tr>
            <th>Ttile</th>
              <th>Author</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="link in links">
            <td>
              <a v-bind:href="link.url" target="_blank">{{link.title}}</a>
            </td>
            <td>
              {{link.author}}
            </td>
            <td class=""> 
              <button class="btn btn-danger" v-on:click="deleteLink(link)">
                 <i class="fa fa-trash" arial-hidden="true"></i>
              </button>
            
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</template>

<script>
import Firebase from 'firebase';
import toastr from 'toastr'
let config = {
  apiKey: "AIzaSyDPJEvMcLVUwH-gdU1JGehovsjODsODKKw",
    authDomain: "vuefire-b6576.firebaseapp.com",
    databaseURL: "https://vuefire-b6576.firebaseio.com",
    projectId: "vuefire-b6576",
    storageBucket: "vuefire-b6576.appspot.com",
    messagingSenderId: "721892408852"
}
let app = Firebase.initializeApp(config);
let db = app.database();
let linksRef =  db.ref('links');

export default {
  name: 'app',
  firebase:{
    links: linksRef
  },
  data(){
    return{
      newLink :{
        title:  '',
        author:'',
        url:''
      }
    }
    
  },
  methods:{
    addLink:function(){
   linksRef.push(this.newLink);
   this.newLink.title = '';
   this.newLink.author ='';
   this.newLink.url ='';
   },
    deleteLink:function(link){
      linksRef.child(link['.key']).remove();
      toastr.success('Link removed');
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
